* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #EDF2F4;
  
  .card {
    width: 650px;
    height: 400px;
    color: #2B2D42;
    border: 1px solid #8D99AE;
    text-align: center;

    h1 {
      margin-top: 25px;
    }

    .info {
      display: flex;
      align-items: center;
      margin: 30px;
      font-size: 26px;

      h3 {
        margin-right: 15px;
      }

      span {
        margin-top: 3px;
        color: #D90429;
        animation: fade-in 3s ease-in-out;
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 680px) {
  .container {
    h1 {
      font-size: 26px;
    }

    .card {
      width: fit-content;

      .info {
        display: block;
        font-size: 16px;
        margin: 20px 0;

        h3 {
          margin: 0 0 15px;
        }

        span {
          margin: 0 5px;
        }
      }
    }
  }

}